<!-- The Modal -->
<div class="card-header">
	<h3>Admin form creation</h3>
</div>
<div id="myModal" class="modal" *ngIf="display">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="display=false;">&times;</span>
      <h4>Update Form fields Properties</h4>
    </div>
    <div class="modal-body">
      <form #f="ngForm" >
	  Enter Placeholder: <input type="text" (ngModel)="currentDraggedItem.dragData.placeholder" name="placeholder" placeholder="Enter field's placeholder" required/><br/><br/><br/>
	  Field Name   : <input type="text" (ngModel)="currentDraggedItem.dragData.fieldName" name="fieldName" placeholder="Eg. firstname,email,password,etc" required/><br/>
	  <span style="color:red;" *ngIf="spaceValidator">No Spaces required</span><br/><br/><br/>
	  Tick if Validation Required: <input type="checkbox" (ngModel)="currentDraggedItem.dragData.validationRequired" name="Validation" /><br/><br/><br/>
      <button (click)="onSubmit(f.form.value)" type="submit" class="btn btn-success" [disabled]="!f.form.valid">Submit</button>
      </form>
    </div>
  </div>

</div>

<p>Create User form here !.</p>
<hr>

<div class="row">

	<div class="col-sm-3">
		<div class="card card-outline-success mb-3">
			<div class="card-header card-inverse card-success">
				Input Items
			</div>
			<div class="card-block scroll-list">
				<div #formData class="list-group">
					<li class="list-group-item" [draggable] *ngFor="let item of formElements" 
					 [dragData]="item" >
						{{item.name}}
					</li>
				</div>
			</div>

		</div>
	</div>

	<div class="col-sm-5">
		<div class="card card-outline-primary mb-6" droppable (onDrop)="onAnyDrop($event)">
			<div class="card-header card-inverse card-primary">Drop the input items on the form</div>
			<div class="card-block scroll-list" id="formContent">
				<div>
					<div [class]="col-sm-5">
						<li *ngFor="let item of droppedItems" class="list-group-item">
							<input [type]="item.inputType" [placeholder]="item.placeholder">
							<label *ngIf="item.inputType === 'checkbox'">{{ item.placeholder}}</label>
						</li>						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5"><button (click)="renderUSerForm()" type="submit" class="btn btn-success" >Save</button></div>
		</div>
	</div>
</div>